body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #191919; /* Fondo transparente */
}

.image-widget {
    cursor: pointer;
    width: 736px; /* Ancho fijo de 736 píxeles */
    height: 503px; /* Altura fija de 503 píxeles */
    background-color: transparent; /* Fondo transparente */
    overflow: hidden; /* Ocultar cualquier desbordamiento de la imagen */
}

img {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: 100%; /* La imagen ocupará toda la altura del contenedor */
    object-fit: cover; /* La imagen se ajustará para llenar el contenedor */
}
