body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #191919; /* Fondo transparente */
}

.image-widget {
    cursor: pointer;
    width: 100%; /* Puedes ajustar el ancho según necesites */
    max-width: 100%;
    aspect-ratio: 297 / 210; /* Proporción de una hoja A4 horizontal */
    background-color: #191919; /* Fondo transparente */
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Mantiene las proporciones de la imagen dentro del contenedor */
}

